[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
setuptools = "*"
wheel = "*"
coverage = "*"
colorama = "*"

[packages]
notion_export_enhancer = {editable = true, path = "."}

